:root {
  --navbar-height: 60px;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center div {
  padding-left: 20px;
  padding-right: 20px;
}

div.divMainHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.divMainHeader h1 {
  margin-bottom: 5px;
}

.center {
  text-align: center;
}

div.divViewDetailsSection {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

div.divViewDetailsSection p {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.divViewDetailsSubsection {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.divMap {
  position: relative;
  width: 100vw;
  height: 60vh;
}

div.divMapCheckboxes {
  background-color: lightgray;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 10;
  padding: 5px;
}

div.divMapCheckboxes label {
  font-weight: bold;
}

div.divMapContainer {
  position: relative;
}

.marker {
  background-size: cover;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  width: 25px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.marker span {
  align-self: center;
}

.marker-farm {
  background-image: url('/static/markers/mapbox-marker-icon-green.svg');
}

.marker-default {
  background-image: url('/static/markers/mapbox-marker-icon-gray.svg');
}

.divDirectory {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 30px;
}

.aNoStyle {
  color: black;
  text-decoration: none;
}

div.divContent {
  padding: 10px;
}

div.divContent label {
  display: block;
}

.divDirectoryItem {
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  /*border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: gray;*/
}

.divDirectoryItem div {
  margin-bottom: 10px;
}

.divDirectoryItem div.divDirectoryItemName {
  margin-bottom: 5px;
}

.divDirectoryItemName {
  font-weight: bold;
  margin-bottom: 0px;
}

.divPrimaryTag {
  border-top-width: 5px;
  border-top-color: darkred;
  border-top-style: solid;
  margin-top: 10px;
}

.divPrimaryTag h3 {
  /*text-transform: uppercase;*/
  margin-top: 10px;
}

.divDirectoryItemInfo {
  padding-left: 15px;
}

.divViewDetailsContainer {
  padding: 15px;
}

.invisible {
  display: none;
}

.navbar {
  /*background-color: red;*/
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  width: 100%;
  top: 0px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: lightgray;
  z-index: 20; /*This is to get in front of the selectize inputs with z-index 1*/
}

.navbar-space-filler {
  height: var(--navbar-height);
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

i.navbar-icon {
  margin: 0 15px;
  color: var(--dr-light-blue);
  cursor: pointer;
  margin-right: 15px;
}

.navbar-link {
  text-decoration: none;
  font-weight: bold;
  padding-right: 20px;
  justify-content: center;
}

a.navbar-link:visited {
  color: var(--dr-light-blue);
}

i.circle-background {
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.5em;
  background-color: lightgray;
}

li.navbar-dropdown-item {
  color: var(--dr-light-blue);
  font-family: var(--h1-font);
  cursor: pointer;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

li.navbar-dropdown-item:hover {
  background-color: lightgray;
}

.mobile-only, i.mobile-only {
  display: none;
}

div.error-details {
  color: red;
}

select.largeSelect {
  font-size: 24px;
}

div.new-feature-content {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

div.new-feature-input {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80vw;
}

div.new-feature-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

div.new-feature-input label span.smallText {
  font-size: 10px;
}

div.new-feature-input input {
  width: 80vw;
  padding: 6px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(206, 212, 218);
  border-style: solid;
  resize: none;
  font-size: 16px;
}

div.new-feature-input input:focus {
  border-color:#86b7fe;
  outline:0;
  box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}

div.new-feature-input select {
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
}

div.new-feature-input textarea {
  width: 80vw;
  padding: 6px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(206, 212, 218);
  border-style: solid;
  resize: none;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

div.new-feature-input textarea:focus {
  border-color:#86b7fe;
  outline:0;
  box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}

button.standard-button {
  padding: 10px;
  border-width: 2px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
