:root {
  --navbar-height: 120px;
  --navbar-top-height: 80px;
  --navbar-bottom-height: 40px;
  --footer-height: 20px;
  --common-lr-padding: 10px;
  --common-tb-padding: 10px;
  --common-lr-margin: 10px;
  --common-tb-margin: 10px;
  --navbarfootergray: lightgray;
  --h1-font-size: 28px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --body-font-size: 14px;
  --body-font: 'Arial Narrow', sans-serif;
  --h1-font: 'Arial Narrow', sans-serif;
  --h2-font: 'Arial Narrow', sans-serif;
  --h3-font: 'Arial Narrow', sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    margin-bottom: var(--footer-height);
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--h1-font);
  font-weight: bold;
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--h2-font);
  font-weight: bold;
}

h3 {
  font-size: var(--h3-font-size);
}

button {
  font-family: inherit;
  font-size: inherit;
}

select {
  font-family: inherit;
  font-size: inherit;
}

div.navbar {
  position: fixed;
  height: var(--navbar-height);
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

div.navbar-space-filler {
  height: var(--navbar-height);
}

div.footer-space-filler {
  height: var(--footer-height);
}

div.footer {
  position: fixed;
  height: var(--footer-height);
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  background-color: var(--navbarfootergray);
  padding-top: var(--common-tb-padding);
  padding-bottom: var(--common-tb-padding);
  padding-left: var(--common-lr-padding);
  padding-right: var(--common-lr-padding);
  display: flex;
}

div.footer a,i {
  color: black;
}

div.footer-links {
  line-height: var(--footer-height);
  vertical-align: center;
}

div.footer-links a {
  font-weight: bold;
}

div.footer-social {
  position: absolute;
  top: var(--common-tb-padding);
  left: 50%;
  transform: translateX(-50%);
}

div.footer-social a {
  margin-right: 10px;
}

div.navbar-top-section {
  height: var(--navbar-top-height);
  display: flex;
  background-color: black;
  color: white;
}

.helper-vert-align {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

div.navbar-logo {
  padding-left: var(--common-lr-padding);
  padding-right: var(--common-lr-padding);
  line-height: var(--navbar-top-height);
  vertical-align: middle;
}

div.navbar-logo img {
  max-height: 60px;
  max-width: 60px;
  vertical-align: middle;
}

div.navbar-main-text {
  height: var(--navbar-top-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.navbar-title {
  font-size: var(--h3-font-size);
  padding-bottom: 5px;
}

div.navbar-description {
  --vertical-align: middle;
  font-style: italic;
}

div.navbar-top-section i {
  color: white;
  vertical-align: middle;
}

div.navbar-bottom-section {
  height: var(--navbar-bottom-height);
  background-color: var(--navbarfootergray);
  line-height: var(--navbar-bottom-height);
  vertical-align: middle;

}

a.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

div.navbar-bottom-section ul {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 25px;
  justify-content: flex-end;
}

div.navbar-bottom-section ul li {
  list-style: none;
  padding-left: var(--common-lr-padding);
  padding-right: var(--common-lr-padding);
}

div.search-header-description-detail {
  font-style: italic;
}

div.search-header {
  padding-left: var(--common-lr-padding);
  padding-right: var(--common-lr-padding);
  padding-top: var(--common-tb-padding);
  padding-bottom: var(--common-tb-padding);
}

div.search-header-title {
  padding-top: var(--common-tb-padding);
  padding-bottom: var(--common-tb-padding);
}

div.search-header-subtitle {
  padding-bottom: var(--common-tb-padding);
}

div.search-subtitle-printable {
  padding-top: var(--common-tb-padding);
}

div.search-header-dropdown {
  padding-top: var(--common-tb-padding);
  padding-bottom: var(--common-tb-padding);
}

div.search-header-letters {
  padding-top: var(--common-tb-padding);
}

div.search-header-letters a {
  text-decoration: none;
  color: black;
  padding-right: 4px;
}

div.header-by-letter {
  background-color: darkgray;
  color: white;
  padding-left: var(--common-lr-padding);
}

div.objects-by-letter {
  display: flex;
  flex-wrap: wrap;
}

.object-by-letter {
  cursor: pointer;
  width: 150px;
  height: 75px;
  border-width: 2px;
  background-color: white;
  border-style:solid;
  border-color: black;
  margin-left: var(--common-lr-margin);
  margin-right: var(--common-lr-margin);
  margin-top: var(--common-tb-margin);
  margin-bottom: var(--common-tb-margin);
}

a.jump_to_letter {
  cursor: pointer;
}
