/* Reset */
:root {
  --jk-light-blue: #00a5e3;
  --jk-dark-blue: #2a4e90;
  --jk-dark-blue-pressed: #204482;
  --jk-green: #9ccb3c;
  --jk-light-gray: lightgray;
  --navbar-height: 120px;
  --footer-search-icon-width: 24px;
  --body-font: 'Roboto', sans-serif;
  --h1-font: 'Lato', sans-serif;
  --h2-font: 'Noto Serif', serif;
  --search-result-search-icon-size: 42px;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* Main Styling */
html,body {
  font-family: var(--body-font);
  line-height: 1.7em;
}

h1 {
  font-family: var(--h1-font);
  font-weight: 900;
}

h2 {
  font-family: var(--h2-font);
}

h3 {
  font-family: var(--h2-font);
}

h4 {
  font-family: var(--h2-font);
}

a {
  color: var(--jk-dark-blue);
  text-decoration: none;
}

a.withUnderline {
  text-decoration: underline;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: var(--jk-dark-blue);
}

.lead {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
}

.btn:hover {
  background: #ccc;
  color: var(--jk-dark-blue);
}

.btn-light {
  background: var(--jk-light-blue);
  border-color: #333;
  border-width: 2px;
  border-style: solid;
  color: var(--jk-dark-blue);
}

.btn-light:hover {
  background: #333;
  color: var(--jk-light-blue);
}

.bg-dark {
  background: var(--jk-dark-blue);
  color: #fff;
}

.bg-light {
  background: var(--jk-light-blue);
  color: #333;
}

.bg-primary {
  background-color: var(--jk-dark-blue);
  color: #fff;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

/* Padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Showcase */
#showcase {
  --background-image: url('../img/joekalbfaceonly.jpg');
  --background-repeat: no-repeat;
  --background-position: left bottom;
  background-color: var(--jk-light-gray);
  background-size: cover;
  min-height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

div.div-content {
  background-color: var(--jk-light-gray);
  padding: 50px;
}

/* Home Info */
#home-info {
  height: 450px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/photo-1.jpg') no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */
#features {
  min-height: 350px;
  display: flex;
}

.box {
  flex: 1;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* About Info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

/* Testimonials */
#testimonials {
  height: 100%;
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

.slider {
  box-sizing: border-box;
  position: relative;
  width: 960px;
  height: 500px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 0%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;s
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: var(--jk-light-blue);
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: var(--jk-light-blue);
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: var(--jk-light-blue);
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--jk-light-blue);
}

.slide-image img {
  max-width: 100%;
  max-height: 100%;
}


/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}

.center {
  text-align: center;
}

.div-experience-heading {
  text-align: center;
}

.div-experience-content {
  margin-bottom: 40px;
}

.div-contact-form-entry {
  margin-bottom: 10px;
  margin-top: 10px;
}

.label-contact-form-entry {
  display: block;
  font-weight: 700;
}

.label-contact-input {
  display: block;
}

.div-contact-form-container {
  padding: 15px;
  background-color: var(--jk-light-gray);
}

.div-content-container {
  padding: 15px;
  background-color: var(--jk-light-gray);
}

.contact-input {
  width: 80vw;
  padding: 6px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  resize: none;
  font-size: 16px;
}

.textarea-contact-form-entry {
  display: block;
  height: 50vh;
  width: 80vw;
  padding: 6px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  resize: none;
  font-size: 16px;
  font-family: var(--body-font);
}

button.button-contact-form-entry {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: var(--jk-dark-blue);
  font-weight: 700;
}

button.button-contact-form-entry:active {
  background-color: var(--jk-dark-blue-pressed);
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

.mobile-only, i.mobile-only {
  display: none !important;
}

.invisible {
  display: none;
}

.dropdown-content {
  position: absolute;
  right: 6px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.navbar {
  /*background-color: red;*/
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  top: 0px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: white;
  z-index: 2; /*This is to get in front of the selectize inputs with z-index 1*/
}

.navbar-space-filler {
  height: var(--navbar-height);
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style: none;
}

i.navbar-icon {
  margin: 0 15px;
  color(--jk-light-blue);
  cursor: pointer;
  margin-right: 15px;
}

.navbar-link {
  text-decoration: none;
  font-weight: bold;
  padding-right: 20px;
  justify-content: center;
}

/*a.navbar-link:visited {
  color: var(--jk-light-blue);
}*/

i.circle-background {
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.5em;
  background-color: lightgray;
  color: var(--jk-dark-blue);
}

li.navbar-dropdown-item {
  color: var(--jk-dark-blue);
  font-family: var(--h1-font);
  cursor: pointer;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

li.navbar-dropdown-item:hover {
  background-color: lightgray;
}

.navbar ul li a.current {
  color: black;
}

.navbar li.current {
  color: black;
}

ul.dropdown-ul {
  display: inline !important;
}
