{% extends 'holistic/base.html' %}

{%block title %}Holistic Resources for {{ city.name }}{% endblock %}

{%block additional_css %}
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{%block additional_js %}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
{% endblock %}

{%block content %}
  {% set farm_features = [] %}
  {% set healing_arts_features = [] %}
  {% set food_features = [] %}
  {% set other_features = [] %}
  {% for feature in features %}
    {% if feature.primary_tag_obj.parent_category == "farming" %}
      {% do farm_features.append(feature) %}
    {% elif feature.primary_tag_obj.parent_category == "healing_arts" %}
      {% do healing_arts_features.append(feature) %}
    {% elif feature.primary_tag_obj.parent_category == "food" %}
      {% do food_features.append(feature) %}
    {% elif feature.primary_tag_obj.parent_category == "other" %}
      {% do other_features.append(feature) %}
    {% endif %}
  {% endfor %}

  <div class="map-header">
    <div class="map-title"><h1>Resource Map</h1></div>
    <div class="map-subtitle">
      <div class="map-subtitle-text">Select a resource to view more information.</div>
      <div class="map-subtitle-dropdown">
        <div class="multiselect" id="map-city-multiselect">
          <div class="selectBox" id="select-map-cities-select-box">
            <select id="select-map-city">
              {% if filtered_cities|count == 1 %}
                    <option>City ({{filtered_cities[0].name}})</option>
              {% else %}
                    <option>Cities ({{filtered_cities|count}} cities)</option>
              {% endif %}
            </select>
            <div class="overSelect"></div>
          </div>
        </div>
        <div id="cities-checkboxes" class="invisible">
          {% for city in all_cities %}
            {% if city in filtered_cities %}
          <label for="checkbox-city-{{city.short_name}}">
            <input type="checkbox" id="checkbox-city-{{city.short_name}}" data-val="{{city.short_name}}" checked />
            {{city.name}}
          </label>
            {% else %}
          <label for="checkbox-city-{{city.short_name}}">
            <input type="checkbox" id="checkbox-city-{{city.short_name}}" data-val="{{city.short_name}}" />
            {{city.name}}
          </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="map-subtitle-empty-for-spacing"></div>
    </div>
  </div>

  <div class="map-content">
    <div id="area-map" class="actual-map">
      <!-- Will be filled in by JavaScript -->
    </div>
    <div id="div-area-map-checkboxes" class="map-checkboxes">
      <label for="input-scroll-zoom">Scroll Zoom</label>
      <input id="input-scroll-zoom" type="checkbox" />
    </div>
  </div>

  {% include 'holistic/resource_modal.html' %}

  <div class="map-directory">
    <div class="map-directory-title"><h1>Directory</h1></div>
    <div class="map-directory-subtitle"><h4>Listing of the resources shown on the map above</h4></div>
    <div class="map-directory-content">
      {% for primary_tag in (features_by_primary_tag.keys() | sort(attribute='plural_description')) %}
      <div class="map-directory-primary-tag-div" id="map-directory-tag-{{primary_tag.tag_name}}">
        <div class="map-directory-primary-tag-title">
          <h2>{{primary_tag.plural_description}}</h2>
        </div>
        <div class="map-directory-primary-tag-entries">
          {% for feature in features_by_primary_tag[primary_tag] %}
            {% if loop.index % 2 == 0 %}
            {% set evenOddClass = "entry-even" %}
            {% else %}
            {% set evenOddClass = "entry-odd" %}
            {% endif %}
          <div class="map-directory-primary-tag-entry {{evenOddClass}}" id="map-directory-primary-tag-{{feature.short_name}}">
            <div class="map-directory-entry-name"><h3>{{feature.name}}</h3></div>
            <div class="map-directory-button-section">
              <button data-val="{{feature.short_name}}" lat="{{feature.latitude}}" lng="{{feature.longitude}}" class="button-view-on-map"">View on Map</button>
            </div>
            <div class="map-directory-field-name">Description</div>
            <div class="map-directory-field-value">{{feature.description}}</div>
            <div class="map-directory-field-name">Holistic Details</div>
            <div class="map-directory-field-value">{{feature.why_on_wapf_list}}</div>
            <div class="map-directory-field-name">Website</div>
            <div class="map-directory-field-value">
              {%if feature.url != None and feature.url != "" %}
              <a href="{{feature.url}}">{{feature.url}}</a>
              {% else %}
              N/A
              {% endif %}
            </div>
            <div class="map-directory-field-name">Address</div>
            <div class="map-directory-field-value">{{feature.address}}</div>
            <div class="map-directory-field-name">Phone Number</div>
            <div class="map-directory-field-value">{{feature.phone if (feature.phone != None and feature.phone != "") else 'N/A' }}</div>
            <div class="map-directory-field-name">Primary Category</div>
            <div class="map-directory-field-value"><a href="">{{feature.primary_tag_obj.description}}</a></div>
            <div class="map-directory-field-name">All Categories</div>
            <div class="map-directory-field-value">
              {% for tag in feature.tags %}
                <a href="/holistic/search?type=resource&tags={{ tag.tag_name }}&cities={{ filtered_city_short_names|join(",") }}">{{tag.description}}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
  // The value for 'accessToken' begins with 'pk...'
  mapboxgl.accessToken = 'pk.eyJ1Ijoia2FsYmlmb3JuaWEiLCJhIjoiY2w1MXBoczRkMDRjazNjbjlhandjZ3ZpciJ9.mjBOUTv1mm-zgQ2rvUlRvQ';
  var centerCoordinates = [{{city.longitude}}, {{city.latitude}}];
  var selectedCityShortNames = [];
  {% for city in filtered_cities %}
  selectedCityShortNames.push("{{city.short_name}}");
  {% endfor %}
  var selectedTags = [];
  {% for tag in filtered_tags %}
  selectedTags.push("{{tag.tag_name}}");
  {% endfor %}
  var geoJsonData = {{geo_json_data|safe}};
  var tagsMapData = {{tags_map_data|safe}};
  var citiesMapData = {{cities_map_data|safe}};
  var allMapMarkers = [];
  isCitiesDropdownExpanded = false;

  const map = new mapboxgl.Map({
    container: 'area-map',
    // Replace YOUR_STYLE_URL with your style URL.
    style: 'mapbox://styles/mapbox/streets-v11',
    center: centerCoordinates,
    zoom: 6.5
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');

  // disable map zoom when using scroll
  map.scrollZoom.disable();

  function showCitiesDropdown() {
    $('#cities-checkboxes').removeClass("invisible");
    isCitiesDropdownExpanded = true;
  }

  function hideCitiesDropdown() {
    $('#cities-checkboxes').addClass("invisible");
    isCitiesDropdownExpanded = false;
  }

  function refreshIfNecessary() {
    var prevSelectedCityShortNames = selectedCityShortNames;
    selectedCityShortNames = [];
    $('#cities-checkboxes input:checked').each(function() {
      selectedCityShortNames.push($(this).attr("data-val"));
    });
    if (selectedCityShortNames.sort().toString() != prevSelectedCityShortNames.sort().toString()) {
      newWindowLocationHref = "/holistic/map?cities=" + selectedCityShortNames.join(",");
      if (selectedTags.length > 0) {
        var commaSeparatedTags = selectedTags.join(",");
        newWindowLocationHref += "&tags=" + commaSeparatedTags;
      }
      window.location.href = newWindowLocationHref;
    }
  }

  function onClickScrollZoom() {
    if ($('#input-scroll-zoom').is(":checked")) {
      map.scrollZoom.enable();
    } else {
      map.scrollZoom.disable();
    }
  }

  function populateMapWithMarkers() {
    for (const marker of allMapMarkers) {
      marker.remove();
    }
    allMapMarkers = [];

    for (const feature of geoJsonData.features) {
      const el = document.createElement("div");
      el.className = "marker marker-default";

      tagURLs = [];
      for (const tag of feature.properties.tags) {
        var tagURL = `<a href="/holistic/search?type=resource&tags=${tag}&cities=${selectedCityShortNames.join(",")}">${tagsMapData[tag].description}</a>`;
        tagURLs.push(tagURL);
      }

      var htmlToDisplay = `<h3>${feature.properties.name}</h3>
      <p>${feature.properties.address}</p>
      <p>Tagged as: ${tagURLs.join(", ")}</p>
      <button class="standard-button" id="button-view-details-${feature.properties.short_name}">View Details</button>`;
      $(document).on('click', `#button-view-details-${feature.properties.short_name}`, function(e) {
        e.stopPropagation();
        var propertiesJSON = JSON.stringify(feature.properties);
        popUpFeatureModal(`${propertiesJSON}`,tagsMapData,citiesMapData,selectedTags,selectedCityShortNames);
      });

      var newMarker = new mapboxgl.Marker(el)
        .setLngLat(feature.geometry.coordinates)
        .setPopup(
          new mapboxgl.Popup({maxWidth: "300px"})
            .setHTML(htmlToDisplay)
        )
        .addTo(map);

      allMapMarkers.push(newMarker);
    }
  }

  map.on('load', () => {
    populateMapWithMarkers();
  });

  $('#input-scroll-zoom').change(function() {
    onClickScrollZoom();
  });

  $(document).ready(function() {
    $('body').click(function() {
      hideCitiesDropdown();
      refreshIfNecessary();
    });

    $('#cities-checkboxes').click(function(e) {
      e.stopPropagation();  //Stops the hiding of city dropdown (done in 'body' click function) if clicking inside of that div
    });

    $('#select-map-cities-select-box').click(function(e) {
      if (isCitiesDropdownExpanded) {
        hideCitiesDropdown();
        refreshIfNecessary();
      } else {
        showCitiesDropdown();
      }

      e.stopPropagation(); //Stops the automatic hiding of city dropdown (done in 'body' click function) if clicking inside of the select box
    });

    $('.button-view-on-map').click(function() {
      var lat = $(this).attr("lat");
      var lng = $(this).attr("lng");

      $('html, body').animate({
        scrollTop: $("#area-map").offset().top
      }, 200);

      map.flyTo({
        center: [lng,lat],
        essential: false,
        zoom: 15
      });
    });

  });

  </script>
{% endblock %}
