{% extends 'holistic/base.html' %}

{%block title %}Holistic Resources for {{ city.name }}{% endblock %}

{%block additional_css %}
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{%block additional_js %}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
{% endblock %}

{%block content %}
  {% set farm_features = [] %}
  {% set healing_arts_features = [] %}
  {% set food_features = [] %}
  {% set other_features = [] %}
  {% for feature in features %}
    {% if feature.primary_tag_obj.parent_category == "farming" %}
      {% do farm_features.append(feature) %}
    {% elif feature.primary_tag_obj.parent_category == "healing_arts" %}
      {% do healing_arts_features.append(feature) %}
    {% elif feature.primary_tag_obj.parent_category == "food" %}
      {% do food_features.append(feature) %}
    {% elif feature.primary_tag_obj.parent_category == "other" %}
      {% do other_features.append(feature) %}
    {% endif %}
  {% endfor %}

  <div class="map-header">
    <div class="map-title"><h1>Resource Map</h1></div>
    <div class="map-subtitle">
      <div class="map-subtitle-text">Select a resource to view more information.</div>
      <div class="map-subtitle-dropdown">
        <div class="multiselect" id="map-city-multiselect">
          <div class="selectBox" id="select-map-cities-select-box">
            <select id="select-map-city">
              {% if filtered_cities|count == 1 %}
                    <option>City ({{filtered_cities[0].name}})</option>
              {% else %}
                    <option>Cities ({{filtered_cities|count}} cities)</option>
              {% endif %}
            </select>
            <div class="overSelect"></div>
          </div>
        </div>
        <div id="cities-checkboxes" class="invisible">
          {% for city in all_cities %}
            {% if city in filtered_cities %}
          <label for="checkbox-city-{{city.short_name}}">
            <input type="checkbox" id="checkbox-city-{{city.short_name}}" data-val="{{city.short_name}}" checked />
            {{city.name}}
          </label>
            {% else %}
          <label for="checkbox-city-{{city.short_name}}">
            <input type="checkbox" id="checkbox-city-{{city.short_name}}" data-val="{{city.short_name}}" />
            {{city.name}}
          </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="map-subtitle-empty-for-spacing"></div>
    </div>
  </div>

  <div class="map-content">
    <div id="area-map" class="actual-map">
      <!-- Will be filled in by JavaScript -->
    </div>
    <div id="div-area-map-checkboxes" class="map-checkboxes">
      <label for="input-scroll-zoom">Scroll Zoom</label>
      <input id="input-scroll-zoom" type="checkbox" />
    </div>
  </div>

  {% include 'holistic/resource_modal.html' %}

  <script>
  // The value for 'accessToken' begins with 'pk...'
  mapboxgl.accessToken = 'pk.eyJ1Ijoia2FsYmlmb3JuaWEiLCJhIjoiY2w1MXBoczRkMDRjazNjbjlhandjZ3ZpciJ9.mjBOUTv1mm-zgQ2rvUlRvQ';
  var centerCoordinates = [{{city.longitude}}, {{city.latitude}}];
  var selectedCityShortNames = [];
  {% for city in filtered_cities %}
  selectedCityShortNames.push("{{city.short_name}}");
  {% endfor %}
  var selectedTags = [];
  {% for tag in filtered_tags %}
  selectedTags.push("{{tag.tag_name}}");
  {% endfor %}
  var geoJsonData = {{geo_json_data|safe}};
  var tagsMapData = {{tags_map_data|safe}};
  var citiesMapData = {{cities_map_data|safe}};
  var allMapMarkers = [];
  isCitiesDropdownExpanded = false;

  const map = new mapboxgl.Map({
    container: 'area-map',
    // Replace YOUR_STYLE_URL with your style URL.
    style: 'mapbox://styles/mapbox/streets-v11',
    center: centerCoordinates,
    zoom: 6.5
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');

  // disable map zoom when using scroll
  map.scrollZoom.disable();

  function showCitiesDropdown() {
    $('#cities-checkboxes').removeClass("invisible");
    isCitiesDropdownExpanded = true;
  }

  function hideCitiesDropdown() {
    $('#cities-checkboxes').addClass("invisible");
    isCitiesDropdownExpanded = false;
  }

  function refreshIfNecessary() {
  }

  function onClickScrollZoom() {
    if ($('#input-scroll-zoom').is(":checked")) {
      map.scrollZoom.enable();
    } else {
      map.scrollZoom.disable();
    }
  }

  function populateMapWithMarkers() {
    for (const marker of allMapMarkers) {
      marker.remove();
    }
    allMapMarkers = [];

    for (const feature of geoJsonData.features) {
      const el = document.createElement("div");
      el.className = "marker marker-default";

      tagURLs = [];
      for (const tag of feature.properties.tags) {
        var tagURL = `<a href="/holistic/search?type=resource&tags=${tag}&cities=${selectedCityShortNames.join(",")}">${tagsMapData[tag].description}</a>`;
        tagURLs.push(tagURL);
      }

      var htmlToDisplay = `<h3>${feature.properties.name}</h3>
      <p>${feature.properties.address}</p>
      <p>Tagged as: ${tagURLs.join(", ")}</p>
      <button class="standard-button" id="button-view-details-${feature.properties.short_name}">View Details</button>`;
      $(document).on('click', `#button-view-details-${feature.properties.short_name}`, function(e) {
        e.stopPropagation();
        var propertiesJSON = JSON.stringify(feature.properties);
        popUpFeatureModal(`${propertiesJSON}`,tagsMapData,citiesMapData,selectedTags,selectedCityShortNames);
      });

      var newMarker = new mapboxgl.Marker(el)
        .setLngLat(feature.geometry.coordinates)
        .setPopup(
          new mapboxgl.Popup({maxWidth: "300px"})
            .setHTML(htmlToDisplay)
        )
        .addTo(map);

      allMapMarkers.push(newMarker);
    }
  }

  map.on('load', () => {
    populateMapWithMarkers();
  });

  $('#input-scroll-zoom').change(function() {
    onClickScrollZoom();
  });

  $(document).ready(function() {
    $('body').click(function() {
      hideCitiesDropdown();
      refreshIfNecessary();
    });

    $('#cities-checkboxes').click(function(e) {
      e.stopPropagation();  //Stops the hiding of city dropdown (done in 'body' click function) if clicking inside of that div
    });

    $('#select-map-cities-select-box').click(function(e) {
      if (isCitiesDropdownExpanded) {
        hideCitiesDropdown();
        refreshIfNecessary();
      } else {
        showCitiesDropdown();
      }

      e.stopPropagation(); //Stops the automatic hiding of city dropdown (done in 'body' click function) if clicking inside of the select box
    });


  });

  </script>
{% endblock %}
