
    <div id="resource-details-modal" class="modal invisible">
      <div class="modal-content">
        <span class="modal-close">&times;</span>
        <div class="modal-content-main">
          <div class="modal-resource-header" id="modal-resource-name"></div>
          <div class="modal-resource-field" id="modal-resource-field-description">
            <div class="modal-resource-field-name">Description</div>
            <div class="modal-resource-field-value"></div>
          </div>
          <div class="modal-resource-field" id="modal-resource-field-holistic-details">
            <div class="modal-resource-field-name">Holistic Details</div>
            <div class="modal-resource-field-value"></div>
          </div>
          <div class="modal-resource-field" id="modal-resource-field-website">
            <div class="modal-resource-field-name">Website</div>
            <div class="modal-resource-field-value"></div>
          </div>
          <div class="modal-resource-field" id="modal-resource-field-address">
            <div class="modal-resource-field-name">Address</div>
            <div class="modal-resource-field-value"></div>
          </div>
          <div class="modal-resource-field" id="modal-resource-field-phone">
            <div class="modal-resource-field-name">Phone Number</div>
            <div class="modal-resource-field-value"></div>
          </div>
          <div class="modal-resource-field" id="modal-resource-field-tags">
            <div class="modal-resource-field-name">Tags</div>
            <div class="modal-resource-field-value"></div>
          </div>
          <div class="modal-resource-field" id="modal-resource-field-cities">
            <div class="modal-resource-field-name">Cities</div>
            <div class="modal-resource-field-value"></div>
          </div>
        </div>
      </div>
    </div>
