{% extends 'holistic/base.html' %}

{%block title %}Holistic Health Directory{% endblock %}
{% if selectable_type == "category" %}
  {% set selectable_type_display = "Category" %}
{% elif selectable_type == "city" %}
  {% set selectable_type_display = "City" %}
{% elif selectable_type == "resource" %}
  {% set selectable_type_display = "Resource" %}
{% endif %}

{%block content %}
    <div class="search-header">
      <div class="search-header-title">
      {% if selectable_type == "category" or selectable_type == "city" %}
        <h2>Find Resources by {{selectable_type_display}}</h2>
      {% elif selectable_type == "resource" %}
        <h2>Browse All Resources</h2>
      {% endif %}
      </div>
      {% if tag_filter != None %}
      <div class="search-header-subtitle">
        {% if tag_filter.display_names|count == 1 %}
        <h3>Category: {{tag_filter.display_names[0]}}</h3>
        {%elif tag_filter.display_names|count > 1 %}
        <h3>Categories:
          {% for display_name in tag_filter.display_names %}
            {% if loop.last %}
              {{display_name}}
            {% else %}
              {{display_name}},
            {% endif %}
          {% endfor %}
        </h3>
        {% endif %}
      </div>
      {% endif %}
      {% if city_filter != None %}
      <div class="search-header-subtitle">
        {% if city_filter.display_names|count == 1 %}
        <h3>City: {{city_filter.display_names[0]}}</h3>
        {%elif city_filter.display_names|count > 1 %}
        <h3>Cities:
          {% for display_name in city_filter.display_names %}
            {% if loop.last %}
              {{display_name}}
            {% else %}
              {{display_name}},
            {% endif %}
          {% endfor %}
        </h3>
        {% endif %}
        {% if toggle_print %}
        <div class="search-subtitle-printable"><a href="#">View Printable Directory for Naples, FL</a></div>
        {% endif %}
      </div>
      {% endif %}
      <div class="search-header-description">
      {% if selectable_type == "category" %}
        <div class="search-header-description-main">Select a category to view a directory of resources by type.</div>
      {% elif selectable_type == "resource" %}
        <div class="search-header-description-main">Select a resource to view more information.</div>
      {% elif selectable_type == "city" %}
        <div class="search-header-description-main">Select a region to view holistic health resources available in your area or <a href="/holistic/search?type=resource">View All</a></div>
      {% endif %}
      {% if (selectable_type == "category" or selectable_type == "resource") and city_filter == None %}
        <div class="search-header-description-detail">Includes all resources by default. To view resources avaialble in a specific region, first select the city below.</div>
      {% endif %}
      </div>
      {% if selectable_type == "category" or selectable_type == "resource" %}
      <div class="search-header-dropdown">
        <div class="multiselect" id="city-multiselect">
          <div class="selectBox" id="select-search-cities-select-box">
            <select id="select-search-cities">
        {% if city_filter == None %}
              <option>City (All)</option>
        {% elif city_filter.short_names|count == 1 %}
              <option>City ({{city_filter.display_names[0]}})</option>
        {% else %}
              <option>Cities ({{city_filter.short_names|count}} cities)</option>
        {% endif %}
            </select>
            <div class="overSelect"></div>
          </div>
        </div>
        <div id="cities-checkboxes" class="invisible">
          {% for city in all_cities %}
            {% if city.short_name in city_filter.short_names %}
          <label for="checkbox-city-{{city.short_name}}">
            <input type="checkbox" id="checkbox-city-{{city.short_name}}" data-val="{{city.short_name}}" checked />
            {{city.name}}
          </label>
            {% else %}
          <label for="checkbox-city-{{city.short_name}}">
            <input type="checkbox" id="checkbox-city-{{city.short_name}}" data-val="{{city.short_name}}" />
            {{city.name}}
          </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if selectable_type == "resource" %}
      <div class="search-header-dropdown">
        <div class="multiselect" id="tag-multiselect">
          <div class="selectBox" id="select-search-tags-select-box">
            <select id="select-search-tags">
        {% if tag_filter == None %}
              <option>Categories (All)</option>
        {% elif tag_filter.short_names|count == 1 %}
              <option>Category ({{tag_filter.display_names[0]}})</option>
        {% else %}
              <option>Categories ({{tag_filter.short_names|count}} categories)</option>
        {% endif %}
            </select>
            <div class="overSelect"></div>
          </div>
        </div>
        <div id="tags-checkboxes" class="invisible">
          {% for tag in all_tags %}
            {% if tag.tag_name in tag_filter.short_names %}
          <label for="checkbox-tag-{{tag.tag_name}}">
            <input type="checkbox" id="checkbox-tag-{{tag.tag_name}}" data-val="{{tag.tag_name}}" checked />
            {{tag.description}}
          </label>
            {% else %}
          <label for="checkbox-tag-{{tag.tag_name}}">
            <input type="checkbox" id="checkbox-tag-{{tag.tag_name}}" data-val="{{tag.tag_name}}" />
            {{tag.description}}
          </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}


      <div class="search-header-letters">
        {% if "A" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_A">A</a>{% else %}<a>A</a>{% endif %}
        {% if "B" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_B">B</a>{% else %}<a>B</a>{% endif %}
        {% if "C" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_C">C</a>{% else %}<a>C</a>{% endif %}
        {% if "D" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_D">D</a>{% else %}<a>D</a>{% endif %}
        {% if "E" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_E">E</a>{% else %}<a>E</a>{% endif %}
        {% if "F" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_F">F</a>{% else %}<a>F</a>{% endif %}
        {% if "G" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_G">G</a>{% else %}<a>G</a>{% endif %}
        {% if "H" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_H">H</a>{% else %}<a>H</a>{% endif %}
        {% if "I" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_I">I</a>{% else %}<a>I</a>{% endif %}
        {% if "J" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_J">J</a>{% else %}<a>J</a>{% endif %}
        {% if "K" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_K">K</a>{% else %}<a>K</a>{% endif %}
        {% if "L" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_L">L</a>{% else %}<a>L</a>{% endif %}
        {% if "M" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_M">M</a>{% else %}<a>M</a>{% endif %}
        {% if "N" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_N">N</a>{% else %}<a>N</a>{% endif %}
        {% if "O" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_O">O</a>{% else %}<a>O</a>{% endif %}
        {% if "P" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_P">P</a>{% else %}<a>P</a>{% endif %}
        {% if "Q" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_Q">Q</a>{% else %}<a>Q</a>{% endif %}
        {% if "R" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_R">R</a>{% else %}<a>R</a>{% endif %}
        {% if "S" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_S">S</a>{% else %}<a>S</a>{% endif %}
        {% if "T" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_T">T</a>{% else %}<a>T</a>{% endif %}
        {% if "U" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_U">U</a>{% else %}<a>U</a>{% endif %}
        {% if "V" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_V">V</a>{% else %}<a>V</a>{% endif %}
        {% if "W" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_W">W</a>{% else %}<a>W</a>{% endif %}
        {% if "X" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_X">X</a>{% else %}<a>X</a>{% endif %}
        {% if "Y" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_Y">Y</a>{% else %}<a>Y</a>{% endif %}
        {% if "Z" in selectables_by_letter.keys() %}<a class="jump_to_letter" data-val="letter_Z">Z</a>{% else %}<a>Z</a>{% endif %}
      </div>
    </div>

    <div class="groupings-by-letters">
      <div class="grouping-by-letter">
        {% set ordered_letter_keys = selectables_by_letter.keys()|sort() %}
        {% for letter_key in ordered_letter_keys %}
          <div class="header-by-letter" id="letter_{{ letter_key }}">{{ letter_key }}</div>
          <div class="objects-by-letter">
            {% set selectables_for_letter = selectables_by_letter[letter_key] %}
            {% for selectable in selectables_for_letter %}
            <button type="button" class="object-by-letter" id="button-{{selectable.short_name}}" data-val="{{selectable.short_name}}">
              {{selectable.display_name}}
            </button>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
      var isCitiesDropdownExpanded = false;
      var isTagsDropdownExpanded = false;

      var selectedCityShortNames = [];
      {% if city_filter != None %}
        {% for city in city_filter.short_names %}
          selectedCityShortNames.push("{{city}}");
        {% endfor %}
      {% endif %}

      var selectedTags = [];
      {% if tag_filter != None %}
        {% for tag in tag_filter.short_names %}
          selectedTags.push("{{tag}}");
        {% endfor %}
      {% endif %}

      function showCitiesDropdown() {
        $('#cities-checkboxes').removeClass("invisible");
        isCitiesDropdownExpanded = true;
      }

      function showTagsDropdown() {
        $('#tags-checkboxes').removeClass("invisible");
        isTagsDropdownExpanded = true;
      }

      function refreshIfNecessary() {
        var prevSelectedCityShortNames = selectedCityShortNames;
        selectedCityShortNames = [];
        $('#cities-checkboxes input:checked').each(function() {
          selectedCityShortNames.push($(this).attr("data-val"));
        });
        if (selectedCityShortNames.sort().toString() != prevSelectedCityShortNames.sort().toString()) {
          newWindowLocationHref = "/holistic/search?type={{selectable_type}}&cities=" + selectedCityShortNames.join(",");
          if (selectedTags.length > 0) {
            var commaSeparatedTags = selectedTags.join(",");
            newWindowLocationHref += "&tags=" + commaSeparatedTags;
          }
          window.location.href = newWindowLocationHref;
        }

        var prevSelectedTags = selectedTags;
        selectedTags = [];
        $('#tags-checkboxes input:checked').each(function() {
          selectedTags.push($(this).attr("data-val"));
        });
        if (selectedTags.sort().toString() != prevSelectedTags.sort().toString()) {
          newWindowLocationHref = "/holistic/search?type={{selectable_type}}&tags=" + selectedTags.join(",");
          if (selectedCityShortNames.length > 0) {
            var commaSeparatedCities = selectedCityShortNames.join(",");
            newWindowLocationHref += "&cities=" + commaSeparatedCities;
          }
          window.location.href = newWindowLocationHref;
        }
      }

      function hideCitiesDropdown() {
        $('#cities-checkboxes').addClass("invisible");
        isCitiesDropdownExpanded = false;

      }

      function hideTagsDropdown() {
        $('#tags-checkboxes').addClass("invisible");
        isTagsDropdownExpanded = false;
      }

      $(document).ready(function() {

        $('body').click(function() {
          hideCitiesDropdown();
          hideTagsDropdown();
          refreshIfNecessary();
        });

        $('#cities-checkboxes').click(function(e) {
          e.stopPropagation();  //Stops the hiding of city dropdown (done in 'body' click function) if clicking inside of that div
        });

        $('#tags-checkboxes').click(function(e) {
          e.stopPropagation();  //Stops the hiding of tag dropdown (done in 'body' click function) if clicking inside of that div
        });

        $('#select-search-cities-select-box').click(function(e) {
          if (isCitiesDropdownExpanded) {
            hideCitiesDropdown();
            refreshIfNecessary();
          } else {
            showCitiesDropdown();
          }

          if (isTagsDropdownExpanded) {
            hideTagsDropdown();
          }
          e.stopPropagation(); //Stops the automatic hiding of city dropdown (done in 'body' click function) if clicking inside of the select box
        });

        $('#select-search-tags-select-box').click(function(e) {
          if (isTagsDropdownExpanded) {
            hideTagsDropdown();
            refreshIfNecessary();
          } else {
            showTagsDropdown();
          }

          if (isCitiesDropdownExpanded) {
            hideCitiesDropdown();
          }
          e.stopPropagation(); //Stops the automatic hiding of city dropdown (done in 'body' click function) if clicking inside of the select box
        });

        $('button.object-by-letter').click(function() {
          var selectableShortName = $(event.target).attr("data-val");
          {% if selectable_type == "city" %}
            window.location.href = "/holistic/search?type=resource&cities=" + selectableShortName;
          {% elif selectable_type == "category" %}
            var newWindowLocationHref = "/holistic/search?type=resource&tags=" + selectableShortName;
            if (selectedCityShortNames.length > 0) {
              var commaSeparatedCities = selectedCityShortNames.join(",");
              newWindowLocationHref += "&cities=" + commaSeparatedCities;
            }
            window.location.href = newWindowLocationHref;
          {% elif selectable_type == "resource" %}
            window.location.href = "/holistic/feature/" + selectableShortName;
          {% endif %}
        });

        $('.jump_to_letter').click(function() {
          var jump_to_element = "#" + $(event.target).attr('data-val');

          var top = $(jump_to_element).position().top;
          var navbarHeight = $('.navbar').first().height();
          var newScroll = top - navbarHeight;
          $('html').scrollTop(newScroll);
        });
      });
    </script>
{% endblock %}
