<!doctype html>
<head>
  <meta charset='utf-8' />
  <title>{% block title %}{% endblock %}- JoeKalb.com</title>
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <script src="{{url_for('static',filename='script/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='script/common_joekalbcom.js')}}"></script>
  {% block additional_js %}{% endblock %}
  <link href="{{url_for('static',filename='css/joekalbcom_style.css')}}" rel='stylesheet' />
  <link href="{{url_for('static',filename='fontawesome-free-5.15.4-web/css/all.min.css')}}" rel='stylesheet' />
  <link href="{{url_for('static',filename='css/joekalbcom_style_mobile.css')}}" rel="stylesheet" media="screen and (max-width: 768px)" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
  {% block additional_css %}{% endblock %}
  <!--<link rel="icon" type="image/png" href="{{url_for('static',filename='wapf-favicon.png')}}">-->
</head>

<body>
  <section class="content">
    <header>
      <div class="navbar">
        <h1 class="logo"><a href="/dev/index.html">JoeKalb.com/dev</a></h1>
        <nav>
          <ul>
            <li class="desktop-only"><a class="navbar-link" id="a-home" href="/dev">Home</a></li>
            <li class="desktop-only"><a class="navbar-link" id="a-about" href="/dev/about.html">About</a></li>
            <li class="desktop-only"><a class="navbar-link" id="a-experience" href="/dev/experience.html">Experience</a></li>
            <li class="desktop-only"><a class="navbar-link" id="a-contact" href="/dev/contact.html">Contact</a></li>
            <li>
              <i id="navbar-dropdown" class="fas fa-bars fa-2x circle-background navbar-icon mobile-only"></i>
              <div id="navbar-dropdown-content" class="dropdown-content">
                <ul class="dropdown-ul">
                  <li id="navbar-dropdown-home" class="navbar-dropdown-item">Home</li>
                  <li id="navbar-dropdown-about" class="navbar-dropdown-item">About</li>
                  <li id="navbar-dropdown-experience" class="navbar-dropdown-item">Experience</li>
                  <li id="navbar-dropdown-contact" class="navbar-dropdown-item">Contact</li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

      </div>
      <div class="navbar-space-filler">
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer id="main-footer">
      <p>Joe Kalb &copy; 2022, All Rights Reserved</p>
    </footer>

  </section>
  <script>
    initializeNavbarDropdown();
  </script>
</body>
